<section class="list">

  <!--  Amount Total  -->
  <div class="total">NT : 3000</div>

  <!--  Add New List  -->
  <a href="/list/new" class="new">+</a>

  <!--  Category Filter  -->
  <select name="filter">
    <option value="all">全部</option>
    <option value="home">住宿</option>
    <option value="traffic">交通</option>
    <option value="entertainment">娛樂</option>
    <option value="food">飲食</option>
    <option value="other">其他</option>
  </select>

  <div class="container">

    <!--  Render Record List  -->
    {{#each record}}
    <div class="group">

      <!--  Category  -->
      <div class="category"><i class="{{  this.categoryIcon  }}"></i></div>

      <!--  Name  -->
      <div class="name">{{  this.name  }}</div>

      <!--  Date  -->
      <div class="date">{{  this.date  }}</div>

      <!--  Amount  -->
      <div class="amount">${{  this.amount  }}</div>

      <!--  Edit and Delete Button  -->
      <div class="btn">
        <a href="/list/{{  this._id  }}/edit"><i class="fas fa-edit"></i></a>
        <form action="/list/{{  this._id  }}/delete" method="POST" class="delete">
          <button id="delete"><i class="fas fa-trash-alt"></i></button>
        </form>
      </div>
      
    </div>
    {{/each}}

  </div>
</section>
